<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>All Region Page</display-name>
    <welcome-file-list>
        <welcome-file>allRegions</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>allRegions</servlet-name>
        <servlet-class>kpi.servlets.AllRegionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allRegions</servlet-name>
        <url-pattern>/allRegions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>region</servlet-name>
        <servlet-class>kpi.servlets.RegionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>region</servlet-name>
        <url-pattern>/region/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>district</servlet-name>
        <servlet-class>kpi.servlets.DistrictServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>district</servlet-name>
        <url-pattern>/district/*</url-pattern>
    </servlet-mapping>
</web-app>
